@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Evaluations List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="col-sm-12">
                <h3 class="box-title">Evaluation List</h3>
                <a asp-controller="Evaluation" asp-action="Create" class="btn btn-success pull-right" id="create-link-btn">
                    Create New Evaluation Sheet
                </a>
            </div>
            <p class="text-muted">This table display evaluation sheets that you<code>have access to.</code></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Created At</th>
                            <th>Available Until</th>
                            <th>Username</th>
                            <th>Comment</th>
                            <th>Decision</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Evaluation Modal -->
<div class="modal fade" id="evaluateModal" tabindex="-1" role="dialog" aria-labelledby="evaluateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="fill-evaluation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="evaluateModalLabel">Evaluation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="evaluation-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                    <button type="submit" class="btn btn-primary">Save Answers</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var userEmail = "@User.Identity.Name";
            var evaluations = [];
            var user = null;
            var evaluationBtn = null;

            user = getCurrentUser(userEmail);

            $.ajax({
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations`,
                success: (response) => {
                    evaluations = response;

                    evaluations.forEach(evaluation => {
                        let row = `<tr>`;
                                row += `<td>${evaluation.id}</td>`;
                                row += `<td>${evaluation.createdAt}</td>`;
                                row += `<td>${evaluation.availableUntil}</td>`;
                                row += `<td>${evaluation.subject.name}</td>`;
                                row += `<td>${(evaluation.comment) ? evaluation.comment : '--'}</td>`;
                                row += `<td>${(evaluation.decision) ? evaluation.decision : '--'}</td>`;
                                if (user.role == "admin") {
                                    row += `<td><a href="/Evaluation/Note/${evaluation.id}" class="btn btn-info" style="margin-right:10px">Manage</a><a href="/Evaluation/Print/${evaluation.id}" class="btn btn-warning" style="margin-right:10px">Print</a></td>`;
                                } else {
                                    console.log(evaluation.decision);
                                    if (evaluation.decision && evaluation.decision != "RIEN") {
                                            row += `<td><button class="btn btn-primary" disabled>Evaluate</button></td>`;
                                        } else {
                                            row += `<td><button class="btn btn-primary evaluate-btn" data-id="${evaluation.id}" data-toggle="modal" data-target="#evaluateModal">Evaluate</button></td>`;
                                        }
                                }
                            row += `</tr>`;
                        $('tbody').append(row);
                    });
                }
            });

            if (user.role != "admin") {
                $("#create-link-btn").remove()
            }

            $(document).on("click", ".evaluate-btn", function () {
                evaluationBtn = $(this);
                let id = $(this).data("id");
                evaluation = evaluations.find(e => e.id == id);

                if (evaluation) {
                    let html = "";

                    evaluation.indicators.forEach((indicator) => {
                        html += `<div class="card"><div class="card-body"><h3 class="card-title">${indicator.label}</h3>`

                        indicator.questions.forEach((question) => {
                            html += `<div class="row" ><div class="col-md-12"><b>${question.question}</b></div></div><div class="row"><div class="col-md-12 mb-3"><textarea class="form-control evaluation-answer" data-id="${question.id}" style="margin-bottom:15px" required></textarea></div></div>`;
                        });
                        html += `</div></div>`;
                    });
                    $("#evaluation-body").html(html);
                }
            });

            $("#fill-evaluation").submit((e) => {
                e.preventDefault();

                $(".evaluation-answer").each(function (index) {
                    let questionId = $(this).data("id");
                    let answer = $(this).val();

                    $.ajax({
                        type: "POST",
                        headers: {
                            "Content-Type": "application/json; charset=utf8",
                        },
                        url: "http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/answers",
                        data: JSON.stringify({
                            "questionId": questionId,
                            "employeId": user.idUser,
                            "response": answer,
                            "score": null
                        }),
                        success: function (response) {
                            $("#evaluateModal").modal("hide");
                            $("#evaluation-body").html("");

                            evaluationBtn.prop("disabled", true);
                        },
                    });
                });

                $.notify("Evaluation sheet has been successfully filled.", "success");
            });
        });
    </script>
}
