@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <title>Gestion - @ViewData["Title"]</title>
    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/dashboard/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/dashboard/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <!--This is dark logo icon--><img src="/plugins/images/admin-logo.png" alt="home"
                                                              class="dark-logo" />
                            <!--This is light logo icon--><img src="/plugins/images/admin-logo-dark.png" alt="home"
                                                               class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text--><img src="/plugins/images/admin-text.png" alt="home"
                                                              class="dark-logo" />
                            <!--This is light logo text--><img src="/plugins/images/admin-text-dark.png" alt="home"
                                                               class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <partial name="_LoginPartial" />
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav slimscrollsidebar">
                    <div class="sidebar-head">
                        <h3>
                            <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span>
                        </h3>
                    </div>
                    <ul class="nav" id="side-menu">
                        <li style="padding: 70px 0 0;">
                            <a asp-controller="Evaluation" asp-action="Index" class="waves-effect">
                                <i class="fa fa-file fa-fw"
                                   aria-hidden="true"></i>Evaluations Sheets
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <span>You should be connected to access menues</span>
        }
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewData["PageTitle"]</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                @RenderBody()
                <!-- /row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com</footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/dashboard/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/dashboard/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/js/custom.min.js"></script>
    <script src="/js/notify.min.js"></script>
    <script src="/js/jquery.print.js"></script>
    <script>
        function getCurrentUser(email) {
            let result;

            $.ajax({
                async: false,
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations/${email}/user`,
                success: (response) => {
                    result = response;
                }
            });

            return result;
        }

        function getUserEvaluationSheets(userEmail) {
            let result;
            $.ajax({
                async: false,
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations/${userEmail}/user-evaluations`,
                success: (response) => {
                    result = response;
                }
            });

            return result;
        }

        function getEvaluationSheets() {
            let result;
            $.ajax({
                async: false,
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations`,
                success: (response) => {
                    result = response;
                }
            });

            return result;
        }

        function getAllUsers() {
            let result;

            $.ajax({
                async: false,
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations/all-users`,
                success: (response) => {
                    result = response;
                }
            });

            return result;
        }

        function getEvaluationSheetById(evaluationSheetId) {
            let result;

            $.ajax({
                async: false,
                type: "GET",
                url: `http://localhost:9080/pidev.rest-0.0.1-SNAPSHOT/restfull/evaluations/${evaluationSheetId}/single`,
                success: (response) => {
                    result = response;
                }
            });

            return result;
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>